body
{
  background: white;
  color: black;
}

.templtitle 
{
  text-shadow: none;
  margin-top: 1em;
}

#top
{
  margin-bottom: 0px;
}

#leftnav 
{
  display : none;
}

#content
{
  padding: 1em;
  background-color: #FFF;
  height: auto;
  line-height : 1.3em;
  min-height: 30em;
  border: none;
  line-height: normal;
  margin: 0px;
}

a {
  text-decoration: none;
  color: Black;
}

#list {
  display: none;
}

#footer {
  display: none;
}
