body 
{ 
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}


.title 
{ 
  background-color: #e4f2fc; 
  margin: 0px;
  padding: 1ex;
  text-transform: uppercase;
}

.title h1
{
  padding : 0px;
  margin: 0px;
}

.title a
{
  text-decoration :none;
}

.title nav a
{
  color: black;
  font-size: 2em;
  font-weight: bold;
}

article
{
  padding : 0px 1ex 1ex 1ex;
}

.whitelink { color:white; }
.whitelink:visited { color: #e4f2fc; }

.blacklink { color: black; }
.blacklink:visited { color: purple; }

footer
{
  padding: 1ex;
  background-color: #e4f2fc;
  color: black;
}

input[type="radio"] 
{
  transform: scale(1.5);
}

.inblock
{
  display:inline-block;
}


