<div ng-if="$ctrl.grouplist.length == 0" style="margin-bottom: 1ex;">No occupants entered.</div>
<div ng-if="$ctrl.grouplist.length > 0" class="table-responsive" style="margin-bottom: 1ex;">
<table class="col-xs-12 table table-striped table-bordered" style="background-color: white;">
	<tr>
		<th>Number of Occupants</th>
		<th>Sex</th>
		<th>Mass (kg)</th>
		<th>Age Group</th>
		<th>Activity Level (met)</th>
    <th>CO2 Generation Rate Per Person (L/s)</th>
	</tr>
	<tr ng-repeat="group in $ctrl.grouplist">
		<td>{{ group.numPeople }}</td>
		<td>{{ group.sex }}</td>
		<td>{{ group.mass }}</td>
		<td>
			<div ng-switch="group.ageGroup">
				<div ng-switch-when="0">< 3</div>
				<div ng-switch-when="1">3 to 9</div>
				<div ng-switch-when="2">10 to 17</div>
				<div ng-switch-when="3">18 to 29</div>
				<div ng-switch-when="4">30 to 59</div>
				<div ng-switch-when="5">>= 60</div>
			</div>	
		</td>
		<td>{{ group.met }}</td>
		<td>{{ group.igen | number:4 }}</td>
		<td ng-if="$ctrl.grouplist.showRemove"><button ng-click="$ctrl.onRemove({itemIndex: $index});" class="btn btn-primary btn-sm">Remove these occupants</button></td>
	</tr>
</table>
</div>


