
.unit 
{ 
  padding:3px; 
  background: #e4f2fc;
  color: black;
}

.unit input[type=number]
{
  width: 16ex;
}

.unithead
{ 
  padding:3px; 
  background : #12659c;
  color: white;
  font-size:1.3em;
  text-align:center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.section 
{ 
  background-color:  #e4f2fc;
  border: solid #12659c thin; 
  padding:0px 5px; 
  color: black;
  margin: 5px 0px;
}

.sectiongrid
{
  border: solid #12659c thin; 
  display: grid; 
  grid-gap: 2px; 
  background-color: #e4f2fc; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
  justify-content: space-around;
  margin: 5px 0px;
  padding:5px;
}

select {
  padding:3px;
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.animateInOut {
  overflow: hidden;
  transition: max-height 1.5s cubic-bezier(0.1, -0.6, 0.2, 0);
}

day-schedule-editor::part(select), day-schedule-editor::part(button), day-schedule-editor::part(input), day-schedule-editor::part(dialog), 
unit-value::part(select), unit-value::part(input), select-value::part(select), edit-value::part(input), time-editor::part(select)
{
  border: 1px solid #12659c;
  border-radius: 4px;
  padding:4px;
}
day-schedule-editor::part(box) {
  border: 1px solid #12659c;
  border-radius: 4px;
}
auto-button::part(button) {
  margin: 10px;
  background: #008817; 
  color:white; 
  border:none; 
  padding:8px; 
  font-weight:bold;
  border-radius: 4px;
}

howto-tab {
  border: 1px solid #12659c;
  padding: 20px;
  background-color: #e4f2fc;
  margin:1ex;
}
howto-panel {
  padding: 20px;
  background-color: #e4f2fc;
}
howto-tab[selected] {
  background-color: #12659c;
  color:white;
}

/**
 * If JavaScript does not run, the element will not match `:defined`.
 * In that case this style adds spacing between tabs and previous panel.
 */
howto-tabs:not(:defined), howto-tab:not(:defined), howto-panel:not(:defined) {
  display: block;
}

#resType{
  display: flex;
  align-items:flex-end;
  column-gap:10px;
  margin:1ex;
}

.tooltip{
  background-color: #e4f2fc;
  width: 700px;
  border: double 5px #12659c;
  padding:1ex;
}


